  

a {
    text-decoration: none;
}

h1 {
    color: #FA0B53;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 50px;
    margin: auto;
    margin-top: 10px;

}

h5 {
    color: #FA0B53;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 25;
    margin: auto;
    padding-bottom: 20px;

}

#logoIcon {
    width: 120px;
    float: center;
    margin: center;
    position: absolute;
    left: 35%;
    right: 42.42%;
    top: 3%;

}

p {
    position: absolute;
    margin-top: -200px;
    border-style: solid;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    margin-left: 100px;
}

.homeImages {
    width: 220px;
    margin-left: 20px;
    align-items: center;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    border-radius: 21px;
}
.brandImages {
    width: 100px;
    margin-left: 20px;
    align-items: center;
    
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    border-radius: 21px;
}
.images {
    display: flex;
    flex-direction: row;
    padding-left: 20%;
    padding-top: 50px;
    width: 100px;
}
.brands {
    display: flex;
    flex-direction: row;
    padding-left: 20%;
    padding-top: 10px;
    width: 100px;
}

h4 {
    float: center;
    margin: center;
    text-align: center;
    white-space: nowrap;
}

h6{
    color: #FA0B53;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 10px;
    flex-wrap: wrap;
    align-self: auto;
    
}

 @media (max-width: 700px) {
    #logoIcon {
        position: absolute;
        float: left;
        right: 42.42%;
        top: 0%;
        bottom: 26.74%;
    }
    body{
        position: fixed;
    }
    h1 {
        color: #FA0B53;
        font-family: 'Pacifico', cursive;
        text-align: center;
        font-size: 50px;
        margin: auto;
        margin-top: 10px;
        padding-left: 65px;
        padding-right: 600px;
    }
    h5 {
        padding-right: 500px;
    }
    #logoIcon{
        
       
        padding-right: 700px;
    }
    .homeImages {
        
        flex-direction: row;
        margin-left: 100px;
        align-items: left;
        float: left;
        height: 220px;
        width: 150px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .images {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        padding-top: 50px;
        margin: 0;
        justify-content: center;
    }
    
}